<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119259871411-sh5vk6i6vp6i9d7nnlblsoj5o7sbosbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119259871411-sh5vk6i6vp6i9d7nnlblsoj5o7sbosbb</string>
	<key>API_KEY</key>
	<string>AIzaSyCfctcbLT7mvJhReuvpseKwTTuOKLArkWk</string>
	<key>GCM_SENDER_ID</key>
	<string>119259871411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.partyhaan.partyhaan</string>
	<key>PROJECT_ID</key>
	<string>partyhaan-e8a5c</string>
	<key>STORAGE_BUCKET</key>
	<string>partyhaan-e8a5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119259871411:ios:50281c9e07cf2edfe518c6</string>
</dict>
</plist>